#navbar{
    margin-bottom: 0;
    border-radius: unset;
    min-height: 100px;   
    padding-top: 50px;
    background: white;

}

.navbar-brand, .navbar-nav li a{
    color: black;
    text-transform: uppercase;
}
.icon-bar{
    background: black;
}

#myCarousel{
    height: 400px;
    overflow: hidden;
}
#myCarousel .carousel-inner .item{
    text-align: center;
    height: 100%;
    width: 100%;
}
#myCarousel .carousel-inner .item img{
    height: auto;
    min-height: 500px;
    width: 100%;
    margin: auto;
}

#myCarousel .carousel-control{    
    opacity: 0.2;
    background: none;
    text-shadow: none;
    background-color: none;
    border:none;
    color: black;
}

#myCarousel .carousel-control:hover{ 
    opacity: 1;
    transition: all ease-in-out .5s;
}

.content{
    margin-top: 100px;
}
.main-content .row{
    margin-top: 10px;
    margin-bottom: 50px;
}
.main-content .row .col-md-3{
    padding: 12px;
}
.main-content .row .row-header{
    margin-left: 12px; 
}

.main-content .row .item{
    max-height: 300px;
    max-width: 300px;
    background: rgba(0,0,0,0.5);    
    cursor: pointer;
    margin: 10px;
}

.main-content .row .item .item-img{
    width: 100%;
    height: 100%;
}
.main-content .row .item .item-content{
    position: absolute;
    padding: 16px;
    padding-top: 8px;
}
.main-content .row .item .item-content .item-name{
    margin-top: 5px;
}
/*product page*/
.product-content{
    margin-top: 100px;
    margin-bottom: 100px;
}
.product-item{
    width: 100%;
}
.product-item .product-image{
    height: auto;
    width: 100%;
}
.product-modal, .product-modal .modal-content{
    border-radius: 0;    
}

.product-modal .product-confirm{
    background: #333;
    color: white;
    border: none;
    padding: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
}

.product-content .product-item{
    height: 80%;
    background: darkgrey;
}    

.product-content .product-details{
    padding: 16px;
    margin: 10px;
}
/*product page*/


.cart-content{
    margin-top: 100px;
    padding: 16px;
}

.cart-product-list-container,cart-detail-container{

    padding: 16px;
    margin-bottom: 50px;
}

.cart-product-list-container{

}

.cart-panel-header{
    margin: 16px;
    margin-bottom: 32px;
}

.cart-product-list{
    list-style: none;
    /*
    overflow-y: scroll;
    min-height: 200px;
    height: 70%;*/
    padding-left: 10px;
}

.cart-product-item{
    /*height: 150px;*/
    border: 1px solid #bebebe;
    margin-bottom: 10px;
    padding: 16px;
}

.cart-product-op .cart-product-remove{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}


.cart-product-img-div{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}

.cart-product-img{
    height: 100%;

}

.cart-product-name{
    margin-top: 0;
}
.cart-detail-container{
    margin-top:95px;   
    margin-bottom: 100px;
    width: 100%;
    padding: 16px;
     border: 1px solid #bebebe;
}
.cart-product-op{
    width: 100%;
    text-align: right;
}
.cart-detail-container .cart-panel-header{
    margin-left: 0px;
    margin-bottom: 16px;
}

.cart-proceed{
    width: 100%;
    background: black;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.cart-proceed:hover{
    text-decoration: none;
    color: white;
    text-decoration-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);    
}

.abouts-content{
    margin-bottom: 100px;
    padding: 16px;
}

.login-content{    
    background: #bebebe;    
    width: 100%;
}

.login-content .background-img{
    height: 200px;
}

.panel-row{
    padding: 100px;
    margin: 50px;
    background: rgba(255,255,255,0.9);
}

.login-form-div{
    text-align: left;
    padding: 20px;
    min-width: 300px;
}

.login-form-div{
    margin: 10px;
}

.login-form-div input, .login-form-div select{
    margin-bottom: 10px;
    font-size: 16px;
    padding: 6px;    
}

.login-content .header-title{
    margin-left: 32px;
}

.login-form-div .forgot-link{
    cursor: pointer;
}

.login-form-div .login-button{
    margin-bottom: 10px;
    background: #333;
    padding: 8px;
    color: white;
    border: none;

    padding-left: 32px;
    padding-right: 32px;
}

.brands-content{
    padding-top: 50px;
    margin-bottom: 100px;
}

.brands-item{
    height: 350px;
    background: #bebebe;
    margin: 10px;
    width: 100%;
    cursor: pointer;
}

.brands-item .brand-img{
    width: 100%;
}
.brand-name{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}




/*footer*/
.footer{
    background: #333;
    color: white; 
    padding: 16px;
}

.footer .navbar-nav li a{
    color: white;
}

.footer .navbar-nav li a:hover{
    background: unset;
}

.footer .navbar-nav li a:focus{
    background: unset;
}